{% extends 'base.html.twig' %}

{% block title %}
	{{ pageTitle }}
{% endblock %}

{% block body %}
	<main>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">{{ pageTitle }}</h1>
					<p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
					<p>
						<a href="#" class="btn btn-primary my-2">Main call to action</a>
						<a href="#" class="btn btn-secondary my-2">Secondary action</a>
					</p>
				</div>
			</div>
		</section>

		<div class="album py-5 bg-body-tertiary">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					{% for new in pager %}
						<div class="col">
							<div class="card shadow-sm">
								<img src="{{ new.image }}" alt="{{ new.title }}">
								<div class="card-body">
									<h4 class="h4">{{ new.title }}</h4>
									<p class="card-text">{{ new.description }}</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<a class="btn btn-sm btn-outline-secondary" href="{{ path('news_show', {'new' : new.id}) }}">Detalhes</a>
										</div>
										<small class="text-body-secondary">{{ new.createAt|date('d/m/Y') }}</small>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<br>
				{{ pagerfanta(pager) }}
			</div>
		</div>
	</main>
{% endblock %}
