{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	<main class="container">
		<div class="row mb-2">
			{% for new in news|slice(1, 2) %}
				<div class="col-md-6">
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2 text-primary-emphasis">{{ new.category }}</strong>
							<h3 class="mb-0">{{ new.title }}</h3>
							<div class="mb-1 text-body-secondary">{{ new.createAt|date('d/m/Y') }}</div>
							<p class="card-text mb-auto">{{ new.description }}</p>
							<a href="{{ path('news_show', {'new': new.id}) }}" class="icon-link gap-1 icon-link-hover stretched-link">
								Continue lendo...
								<svg class="bi"><use xlink:href="#chevron-right"/></svg>
							</a>
						</div>
						<div class="col-auto d-none d-lg-block">
							{% if not new.image %}
								<img class="bd-placeholder-img" width="200" height="250" src="https://loremflickr.com/419/225/{{new.id}}" alt="{{ new.title }}">
							{% else %}
								<img class="bd-placeholder-img" width="200" height="250" src="{{ asset('uploads/imgs/') }}{{ new.image }}" alt="{{ new.title }}">
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="row g-5">
			<div class="col-md-8">
				<h3 class="pb-4 mb-4 fst-italic border-bottom">
					Saindo do forno
				</h3>

				{% for new in news|slice(3, 3) %}
					<article class="blog-post">
						<div class="row gx-5">
							<div class="col-md-6 mb-4">
								<div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
									{% if not new.image %}
										<img src="https://loremflickr.com/419/225/{{new.id}}" alt="{{ new.title }}" class="img-fluid">
									{% else %}
										<img src="{{ asset('uploads/imgs/') }}{{ new.image }}" alt="{{ new.title }}" class="img-fluid">
									{% endif %}
									<a href="#!">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</a>
								</div>
							</div>

							<div class="col-md-6 mb-4">
								<a href="{{ path('home_category', {slug: new.category.name}) }}" class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">{{ new.category.name }}</a>
								<p>{{ new.createAt|date('d/m/Y h:i') }}</p>
								<h4>
									<strong>{{ new.title }}</strong>
								</h4>
								<p class="text-muted">{{ new.description }}</p>
								<a href="{{ path('news_show', {'new' : new.id}) }}" type="button" class="btn btn-primary">Leia mais</a>
							</div>
						</div>
					</article>
				{% endfor %}
			</div>

			<div class="col-md-4">
				<div class="position-sticky" style="top: 2rem;">
					<div class="p-4 mb-3 bg-body-tertiary rounded">
						<h4 class="fst-italic">Sobre</h4>
						<p class="mb-0">Bem-vindo ao nosso blog de notícias! Aqui você encontrará informações confiáveis e atualizadas sobre diversos tópicos. Nossa equipe de redatores experientes traz reportagens imparciais, análises aprofundadas e artigos envolventes. Mantenha-se informado conosco!</p>
					</div>
				</div>

				<div class="position-sticky" style="top: 2rem;">
					<div class="p-4 mb-3 bg-body-tertiary rounded">
						<p class="mb-0">
							Nosso blog de notícias foi criado com o uso do framework Symfony, uma poderosa ferramenta de desenvolvimento web. Com o Symfony, pudemos construir um blog robusto, seguro e altamente escalável.
						</p><br>
						<p class="mb-0">
							Utilizando a arquitetura MVC (Model-View-Controller), o Symfony nos permite separar claramente a lógica de negócio, a apresentação e a interação com o usuário. Isso nos proporciona um código limpo, de fácil manutenção e reutilização.
						</p><br>
						<p class="mb-0">
							Além disso, o Symfony oferece uma ampla gama de recursos e componentes, incluindo autenticação de usuários, manipulação de formulários, gerenciamento de rotas, entre outros. Essa flexibilidade nos permitiu personalizar o blog de acordo com as nossas necessidades específicas.
						</p><br>
						<p class="mb-0">
							Outra grande vantagem do Symfony é sua comunidade ativa e suporte contínuo. Temos acesso a uma vasta documentação, tutoriais e fóruns, o que nos ajuda a resolver problemas e aprender com outros desenvolvedores.
						</p><br>
						<p class="mb-0">
							Com o Symfony, construímos um blog de notícias robusto, rápido e altamente funcional. Estamos empolgados em oferecer uma experiência de leitura agradável e intuitiva para nossos leitores. Agradecemos ao Symfony por nos fornecer as ferramentas necessárias para criar um blog de qualidade e confiável.
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
