{% extends "base.html.twig" %}

{% block title %}
	Detalhes da Notícia
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ new.title }}</h1>
		<h3>{{ new.description }}</h3>
		<img class="float-start me-4 mb-4" src="{{ new.image }}" alt="{{ new.title }}">
		<h5>{{new.category.name }} - {{ new.createAt|date('d/m/Y h:m') }}</h5>
		<p>{{ new.content|raw }}</p>
	</div>
{% endblock %}
